<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796105886392-alu0tcg4qbe8r1h894v7pjq12lgo3v6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796105886392-alu0tcg4qbe8r1h894v7pjq12lgo3v6c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>796105886392-po4ggino6qj5h76mcp4n3k82ppnrq9e5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmbzvAhnyBK8mRgdvzrv_pECKips0IEWg</string>
	<key>GCM_SENDER_ID</key>
	<string>796105886392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artistIcon</string>
	<key>PROJECT_ID</key>
	<string>aryisticicon2</string>
	<key>STORAGE_BUCKET</key>
	<string>aryisticicon2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796105886392:ios:01d97a1ea75f1767efc24d</string>
</dict>
</plist>